body {
  margin: 0;
  font-family: "Share", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img,
form {
  padding: 10px;
  margin-top: 10px;
}

form button,
form h5 {
  margin: 20px 0;
}

div .section {
  padding: 30px;
  margin-top: 60px;
}

p {
  text-align: justify;
}

p .hash {
  overflow-wrap: break-word;
}
